

.home-grid {
 display: grid;
 /* justify-content: center; */
 /* align-content: center; */
 grid-template-columns: auto auto;
 width: 100%;
}

.photo {
    grid-column: 1;
    grid-row: 2;

    /* background-image: url(media/fulldaffodils.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 height: 100vh; */
}

.heading {
    grid-column: 1 / span 5;
    grid-row: 1;

    padding: 30px;
    border-top: 15px solid white;
    border-bottom: 15px solid white;
    background-color: #254446;
    color: white;
}

.about {
    grid-column: 2;
    grid-row: 2;
}

.projects {
    grid-column: 3;
    grid-row: 2;
}

.blog {
    grid-column: 4;
    grid-row: 2;
}

.photo > img {
    width: 50vw;
}

/* .item2, .item3 {
 padding: 50px
} */

h1, h2 {
    text-align: center;
}