/*
COLOURS
Tourquoise: #0E969E
Pink: #E8175D

dark tourquiose: #49878B 
dark rose: #8B4D49
very dark tourquiose: #254446

circus red: #de6449

duck egg blue: #689093
light rose: #ca907e
dark rose: #994636

OLD COLOURS
#adbec7 - sky blue
#e1e6e8 - pale blue
#914856 - burgundy
#67997e - green
#5c7385 - dark blue

CURRENT COLOURS USING
pink: #ebaf9d
blue: #5c7385
yellow: #ecb939
 
*/

/* ---------------- NAVIGATION --------------- */

.navbar {
    background-color: #ebaf9d;
}

.nav-link, .navbar-brand, .navbar-toggler-icon {
    color: white;
    font-weight: bold;
}

.nav-link:hover, .navbar-brand:hover {
    color: black;
}

/* ---------------- TEXT ------------------ */

.title-heading {
    padding: 30px;
    border-top: 15px solid white;
    border-bottom: 15px solid white;
    background-color: #5c7385;
    color: white;
    text-align: center;
}

.sub-heading {
    padding: 10px;
    border-bottom: 15px solid white;
    color: #ecb939;
    text-align: center;
}

.sub-heading-left {
    padding: 10px 0;
    border-bottom: 15px solid white;
    color: #ecb939;
}

.keywords {
    color: #5c7385;
    font-weight: bold;
}

/* ---------------- IMAGES ----------------- */

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

/* ---------------- OTHER ------------------ */

.main-content {
  margin: 0 10%;
}

@media screen and (max-width: 760px) {
  .main-content {
    margin: 0 10px;
  }
}

/* ------------------------ TABS  ---------------------- */
 /* used on shakespeare project */

.tab {
    overflow: hidden;
    background-color: #ecb939;  
  }
  
  .tab button {
    background-color: inherit;
    color: white;
    font-weight: bold;
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
  }
  
  .tab button:hover {
    color: black;
    border: none;
    outline: none;
  }
  
  .tab button.active {
    background-color: white;
    color: #ecb939;
    border: 2px solid #ecb939;
    border-bottom: none;
    outline: none;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    margin-bottom: 50px;
    padding: 6px 12px;
    border: 2px solid #ecb939;
    border-top: none;
  }

  /* --------------------------------------------------------------- */
