/*
COLOURS
Tourquoise: #0E969E
Pink: #E8175D

dark tourquiose: #49878B 
dark rose: #8B4D49
very dark tourquiose: #254446

circus red: #de6449

duck egg blue: #689093
light rose: #ca907e
dark rose: #994636

OLD COLOURS
#adbec7 - sky blue
#e1e6e8 - pale blue
#914856 - burgundy
#67997e - green
#5c7385 - dark blue

CURRENT COLOURS USING
pink: #ebaf9d
blue: #5c7385
grey: grey
 
*/

.navbar {
    background-color: #ebaf9d;
}

.nav-link, .navbar-brand, .navbar-toggler-icon {
    color: white;
    font-weight: bold;
}

.nav-link:hover, .navbar-brand:hover {
    color: black;
}

.title-heading {
    padding: 30px;
    border-top: 15px solid white;
    border-bottom: 15px solid white;
    background-color: #5c7385;
    color: white;
    text-align: center;
}

.sub-heading {
    padding: 10px;
    border-bottom: 15px solid white;
    color: grey;
    text-align: center;
}


